/*******************************************************************
 loading style
*******************************************************************/

.loading-container {
	text-align: center;
	margin-top: 120px;
}

.loading {
	font-weight: bold;
	font-family: monospace;
	font-size  : 30px;
	display    : grid;
}

.loading:before,
.loading:after {
	content     : "Loading...";
	grid-area   : 1/1;
	-webkit-mask: linear-gradient(90deg, #000 50%, #0000 0) 0 50%/2ch 100%;
	mask        : linear-gradient(90deg, #000 50%, #0000 0) 0 50%/2ch 100%;
	animation   : c1 1s infinite cubic-bezier(0.5, 220, 0.5, -220);
}

.loading:after {
	-webkit-mask-position: 1ch 50%;
	mask-position        : 1ch 50%;
	--s                  : -1;
}

@keyframes c1 {
	100% {
		transform: translateY(calc(var(--s, 1)*0.1%));
	}
}

/*******************************************************************
 list style
*******************************************************************/

.list-1 {
	box-sizing : border-box;
	display    : block;
	text-align : -webkit-match-parent;
	padding    : 3px 4px;
	line-height: 26px;
}

.list-1+.list-1 {
	margin-top: 10px;
}

.list-1 .list-1-link {
	text-decoration: none;
	color          : var(--text-c);
}

.list-1 .list-1-title {
	font-weight: 800;
}

.list-1 .list-1-text {
	font-weight: 400;
}

/*******************************************************************
 layout style
*******************************************************************/

.layout-1 {
	padding         : 10px var(--body-pw);
	margin-top      : 10px;
	background-color: #f1f1f1;
	align-items     : center;
}

.layout-2 {
	padding         : 4px 6px;
	background-color: var(--highlight);
	align-items     : center;
}

.layout-3 {
	padding         : 15px 0;
	background-color: transparent;
	align-items     : center;
}

/*******************************************************************
 tabs style
*******************************************************************/

.tabs {
	padding      : 20px 0 15px 0;
	border-bottom: #f1f1f1 solid 1px;
}

.tabs a {
	padding        : 15px 20px;
	text-decoration: none;
	color          : #000;
	font-size      : var(--sm);
}

@media (max-width: 480px) {
	.tabs a {
		padding: 15px 5px;
	}
}

.tabs a.selected {
	border-bottom: green solid 3px;
}

/*******************************************************************
 input and textarea style
*******************************************************************/

.input {
	padding      : 2px 4px;
	margin       : 0px;
	font-size    : 16px !important;
	font-family  : "Roboto", sans-serif, "inherit", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei";
	border       : none;
	outline      : medium;
	border-bottom: 1px solid var(--fg-c);
}

/*******************************************************************
 overlay style
*******************************************************************/

.overlay {
	position: relative;
	display : inline-block;
}

/*******************************************************************
 menu style
*******************************************************************/

.overlay.left .menu {
	left: 0;
}

.overlay:not(.left) .menu,
.overlay.right .menu {
	right: 0;
}

.overlay:not(.up) .menu,
.overlay.down .menu {
	top: 36px;
}

.overlay.up .menu {
	bottom: 28px;
}

.overlay.block .menu {
	display: block;
}

.menu {
	background   : #fff;
	border-radius: 4px;
	box-shadow   : 0 1px 2px rgb(0 0 0 / 25%), 0 0 1px rgb(0 0 0 / 35%);
	color        : #000;
	display      : none;
	outline      : none;
	overflow     : auto;
	position     : absolute;
	max-height   : calc(100vh - 86px);
	min-width    : 180px;
	z-index      : 1000;
}

.menu.block {
	display: block;
}

.menu .menu-subheader {
	padding: 10px 14px;
}

.menu .menu-tip {
	color     : grey;
	display   : block;
	font-size : 14px;
	text-align: center;
	padding   : 12px;
}

.menu .menu-flex {
	display   : flex;
	flex-wrap : wrap;
	width     : 100%;
	box-sizing: border-box;
}

.menu .menu-item,
.menu .menu-item-a {
	box-sizing     : border-box;
	color          : black;
	padding        : 12px;
	text-decoration: none;
	display        : block;
	font-size      : 14px;
}

.menu .menu-item {
	border          : none;
	width           : 100%;
	background-color: transparent;
	text-align      : inherit;
	cursor          : pointer;
}

.menu .menu-flex .menu-item {
	display: inline-block;
	width  : auto;
}

.menu .selected,
.menu .menu-item:hover,
.menu .menu-item-a:hover {
	background-color: #f1f1f1
}

/*******************************************************************
 autocomplet and autocomplet label style
*******************************************************************/

/*******************************************************************
 button and a (link) style
*******************************************************************/

.icon {
	margin         : 0;
	padding        : 0;
	border         : none;
	text-decoration: none;
}

.icon img {
	width        : 32px;
	height       : 32px;
	border-radius: 1000px;
	margin       : 0;
}

.text,
.link {
	border         : none;
	border-radius  : 12px;
	text-decoration: none;
	margin         : 0;
}

.text {
	color      : #000000;
	font-weight: 500;
	padding    : 1px 6px;
}

.text+.text {
	margin-left: 8px;
}

.text.md {
	font-size: 1.0rem;
}

.text.lg {
	font-size: 1.1rem;
}

.link {
	color      : #313131;
	font-weight: 400;
	font-size  : 16px;
	padding    : 0;
}

.label {
	text-decoration : none;
	font-size       : 12px;
	color           : whitesmoke;
	background-color: green;
	border-radius   : 1000px;
	padding         : 2px 8px;
}

.label+.label {
	margin-left: 4px;
}

.btn {
	cursor          : pointer;
	background-color: transparent;
}

.btn.border {
	border : 2px solid #3131317a;
	padding: 6px 16px;
}

.btn.border:hover {
	border: 2px solid #313131;
}

.btn.link:hover {
	color: #000000;
}

/*******************************************************************
 text style
*******************************************************************/

.p {
	font-size: 16px;
}

.p.wrap {
	white-space: pre-wrap;
}

/*******************************************************************
 flex style
*******************************************************************/

.flex {
	display: flex;
}

.flex.wrap {
	flex-wrap: wrap;
}

.flex-end {
	align-self: flex-end;
}

.flex-auto {
	flex: auto;
}

.flex-1 {
	flex: 1;
}

/*******************************************************************
 margin and padding style
*******************************************************************/

.margin-y {
	margin: 16px 0;
}

.padding-y {
	padding: 6px 0;
}

/*******************************************************************
 margin and padding style
*******************************************************************/

.markdown {
	word-wrap: break-word;
	padding  : 0 var(--body-pw);
}

.markdown:first-child {
	margin-top : 0;
	padding-top: 0;
}

.markdown .anchor {
	float        : left;
	line-height  : 1;
	margin-left  : -20px;
	padding-right: 4px;
}

.markdown .anchor:focus .octicon {
	visibility: visible;
}

.markdown .octicon {
	display       : inline-block;
	fill          : currentColor;
	color         : #1b1f23;
	vertical-align: middle;
	visibility    : hidden;
}

.markdown h1:hover .octicon,
.markdown h2:hover .octicon,
.markdown h3:hover .octicon,
.markdown h4:hover .octicon,
.markdown h5:hover .octicon,
.markdown h6:hover .octicon {
	visibility: visible;
}