:root {
  --navy   : #001F3F;
  --aqua   : #7FDBFF;
  --teal   : #39CCCC;
  --olive  : #3D9970;
  --lime   : #01FF70;
  --fuchsia: #F012BE;
  --purple : #B10DC9;
  --maroon : #85144B;
  --yellow : #FFDC00;
  --green  : #06847d;
  --blue   : #4a69bd;
  --orange : #a46313;
  --red    : #e02e06;
  --white  : #ffffff;
  --silver : #DDDDDD;
  --grey   : #e6e6e6;
  --black  : #262626;

  --x7s : 0px;
  --x6s : 2px;
  --x5s : 4px;
  --x4s : 6px;
  --x3s : 8px;
  --xxs : 10px;
  --xs  : 12px;
  --sm  : 14px;
  --md  : 16px;
  --lg  : 18px;
  --xl  : 20px;
  --xxl : 22px;
  --x3l : 24px;
  --x4l : 26px;
  --x5l : 28px;
  --x6l : 30px;
  --x7l : 32px;
  --x8l : 36px;
  --x9l : 42px;
  --xxxl: 48px;
}

.p-2-4 {
  padding: var(--x6s) var(--x5s);
}

.p-sm {
  padding: var(--xxs) var(--sm);
}

.m-sm {
  margin: var(--xxs) var(--sm);
}

.m-2-4 {
  margin: var(--x6s) var(--x5s);
}

.m-t22 {
  margin-top: var(--xxl);
}

.m-t10 {
  margin-top: var(--xxs);
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.v {
  align-items: center;
}

.wrap {
  white-space: pre-wrap;
  word-wrap  : break-word;
}

button.option {
  border          : none;
  background-color: transparent;
  border-radius   : 4px;
  cursor          : pointer;
  padding         : 2px 4px;
  margin-bottom   : 4px;
}

button.option.selected {
  background-color: #7FDBFF;
}

button.option+button.option {
  margin-left: 4px;
}