<div class="overlay left">
  <ul class="layout-label">
    <li class="label-2" v-for="(word, i) in values" v-bind:class="{'del': i == deleteMark}"
      v-on:click="onRemoveWord(word)">{{ word }} X
    </li>
    <input v-model="input" type="text" class="input-2" v-on:keyup="onKeyup" v-on:keyup.enter="onAdd"
      v-on:keyup.188="onAdd" v-on:keyup.delete="onDel" 
      v-bind:placeholder="i18n.AddAWord"></input>
  </ul>
  <div class="menu w-100" v-bind:class="{'block': items.length}">
    <div class="menu-item" v-for="item in items">
      {{ item.name }}
    </div>
  </div>
</div>