<div class="padding-9">
  <h3>创建新节点</h3>
  <div class="layout-5" style="margin-bottom: 15px;">
    <span>></span>
    <template v-if="selected">
      <span> {{ selected.edges.node.edges.word.name }} > </span>
    </template>
  </div>
  <div>
    <button class="btn text" v-bind:class="{'fill': selected == archive}" v-for="(archive, i) in user.archives"
      v-on:click="onSelectPrev(archive)">📁 {{ archive.edges.node.edges.word.name }}</button>
  </div>
  <div class="flex margin-y">
    <label>新建节点名：</label>
    <div>
      <autocomplet v-on:item="getWordName" v-on:select="onSelectWord" v-bind:source="user.words"
        v-bind:placeholder="i18n.AddAWord"></autocomplet>
    </div>
  </div>
  <hr>
  <div class="flex">
    <div class="flex-1"></div>
    <button class="btn text margin-x18" v-on:click="onSubmit">确定</button>
  </div>
</div>