<div class="flex-h">
  <template>
    <div class="margin-y24 flex-h text sm" v-if="videoInputDevices.length == 0">没有找到摄像头</div>
    <video class="bgc-black" id="video" width="350" v-bind:height="isMobile ? '460' : '265'" v-else></video>
  </template>
  <div class="abs flex" style="width: 350px;" v-if="videoInputDevices.length > 1">
    <div class="flex-1"></div>
    <button class="margin-9 btn icon ic-cycle ic-c-white" v-on:click="switchDeviceId"></button>
  </div>
  <template v-if="activateSuccessed">
    <div class="abs flex-h flex-v bgc-white-light" style="width: 351px; height: 265px;">
      <span>{{activateTerminalName}} 等待确认授权</span>
    </div>
  </template>
</div>