<div class="bgc white">
  <nav class="nav">
    <div class="flex-auto flex-v">
      <router-link class="btn link logo spacing-9" to="/"></router-link>
      <dropdown class="left-right spacing-9 is-mobile">
        <button class="btn icon padding-6-9 flex-v">
          <span class="ic-menu"></span>
        </button>
        <div class="menu">
          <main-menu class="padding-x9"></main-menu>
        </div>
      </dropdown>
      <div class="layout-search" v-if="!hiddenSearch">
        <input v-on:click="onSearch" class="input-search" placeholder="点击或按 / 搜索……" />
      </div>
    </div>
    <div class="flex-v margin-r">
      <slot></slot>
      <button class="btn icon spacing-18 flex-v" v-bind:class="mobileHiddenMenu ? 'none' : 'is-mobile'" v-on:click="onSearch">
        <span class="ic-search wh-x18"></span>
      </button>
      <button class="btn icon spacing-18 flex-v" v-bind:class="mobileHiddenMenu ? 'is-720' : ''" v-on:click="todo"
        v-if="user.logined">
        <span class="ic-notify wh-x18"></span>
      </button>
    </div>
    <dropdown style="height: var(--x30);" v-if="user.logined">
      <button class="btn avatar flex-c" title="user info">
        <img title="user avatar" v-bind:src="profilePicture" v-if="profilePicture">
        <span class="ic-avatar" v-else></span>
      </button>
      <div class="menu">
        <div class="menu-flex">
          <router-link class="flex-1 menu-item-a" v-bind:to="{ name: 'newArticle', query: { status: 'public' }}">{{
            i18n.NewArticle }}</router-link>
          <router-link class="menu-item-a" v-bind:to="{ path: '/new/article', query: { status: 'private' }}">🔒
          </router-link>
        </div>
        <router-link class="menu-item-a" to="/drafts">{{ i18n.Drafts }}</router-link>
        <router-link class="menu-item-a" to="/archive">{{ i18n.Archive }}</router-link>
        <!-- <router-link class="menu-item-a" to="/">我的表决</router-link> -->
        <hr />
        <router-link class="menu-item-a" to="/terminals">管理你的终端</router-link>
        <router-link class="menu-item-a" to="/settings/personalize">{{ i18n.Personalize }}</router-link>
        <hr />
        <router-link class="menu-item-a" to="/about">{{ i18n.About }}</router-link>
        <!-- <hr /> -->
        <!-- <a class="menu-item-a" href="/signout">{{ i18n.Logout }}</a> -->
      </div>
    </dropdown>
    <router-link class="btn text fill padding-x24 padding-y5" to="/login" v-else>开始同步</router-link>
  </nav>
  <modal v-model="showSearch">
    <div class="margin-9">
      <input class="input-search focus" placeholder="搜索……" ref="search" v-on:keyup.enter="todo" />
    </div>
  </modal>
</div>