<div class="bgc white">
  <nav class="nav">
    <div class="flex-auto flex-v">
      <router-link class="btn link logo" to="/"></router-link>
      <dropdown class="right-r10">
        <button class="btn icon padding-x9 margin-l9 is-mobile">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="3" y1="12" x2="21" y2="12" />
            <line x1="3" y1="6" x2="21" y2="6" />
            <line x1="3" y1="18" x2="21" y2="18" />
          </svg>
        </button>
        <div class="menu">
          <main-menu class="padding-x9"></main-menu>
        </div>
      </dropdown>
      <div class="layout-search" v-if="!hiddenSearch">
        <input v-on:click="onSearch" class="input-search" placeholder="点击或按 / 搜索……" />
      </div>
    </div>
    <div class="flex margin-r">
      <slot></slot>
      <button class="btn icon spacing-18" v-bind:class="mobileHiddenMenu ? 'none' : 'is-mobile'" v-on:click="onSearch">
        <svg width="20" height="20" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
          <path fill-rule="evenodd"
            d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z" />
        </svg></button>
      <button class="btn icon spacing-18" v-bind:class="mobileHiddenMenu ? 'is-720' : 'flex-v'" v-on:click="todo"
        v-if="user.logined">
        <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
          <path
            d="M912 1696q0-16-16-16-59 0-101.5-42.5t-42.5-101.5q0-16-16-16t-16 16q0 73 51.5 124.5t124.5 51.5q16 0 16-16zm-666-288h1300q-266-300-266-832 0-51-24-105t-69-103-121.5-80.5-169.5-31.5-169.5 31.5-121.5 80.5-69 103-24 105q0 532-266 832zm1482 0q0 52-38 90t-90 38h-448q0 106-75 181t-181 75-181-75-75-181h-448q-52 0-90-38t-38-90q50-42 91-88t85-119.5 74.5-158.5 50-206 19.5-260q0-152 117-282.5t307-158.5q-8-19-8-39 0-40 28-68t68-28 68 28 28 68q0 20-8 39 190 28 307 158.5t117 282.5q0 139 19.5 260t50 206 74.5 158.5 85 119.5 91 88z" />
        </svg>
      </button>
    </div>
    <dropdown style="height: var(--x30);" v-if="user.logined">
      <button class="btn avatar" title="user info">
        <img title="user avatar" v-bind:src="profilePicture" v-if="profilePicture">
        <img title="user avatar" class="padding-3" src="https://icongr.am/clarity/avatar.svg?size=27&color=currentColor"
          v-else>
      </button>
      <div class="menu">
        <div class="menu-flex">
          <router-link class="flex-1 menu-item-a" v-bind:to="{ name: 'newArticle', query: { status: 'public' }}">{{
            i18n.NewArticle }}</router-link>
          <router-link class="menu-item-a" v-bind:to="{ path: '/new/article', query: { status: 'private' }}">🔒
          </router-link>
        </div>
        <router-link class="menu-item-a" to="/drafts">{{ i18n.Drafts }}</router-link>
        <router-link class="menu-item-a" to="/archive">{{ i18n.Archive }}</router-link>
        <!-- <router-link class="menu-item-a" to="/">我的表决</router-link> -->
        <hr />
        <router-link class="menu-item-a" to="/terminals">设备管理</router-link>
        <router-link class="menu-item-a" to="/settings/personalize">{{ i18n.Personalize }}</router-link>
        <hr />
        <router-link class="menu-item-a" to="/about">{{ i18n.About }}</router-link>
        <!-- <hr /> -->
        <!-- <a class="menu-item-a" href="/signout">{{ i18n.Logout }}</a> -->
      </div>
    </dropdown>
    <router-link class="btn text fill padding-x24 padding-y5" to="/login" v-else>开始同步</router-link>
  </nav>
  <modal v-model="showSearch">
    <div class="margin-9">
      <input class="input-search focus" placeholder="搜索……" ref="search" v-on:keyup.enter="todo" />
    </div>
  </modal>
</div>