<div class="new-node">
  <h3>创建新节点</h3>
  <ul class="words" style="margin-bottom: 15px;">
    <li>></li>
    <template v-if="selected">
      <li>
        {{ selected.edges.node.edges.word.name }}
      </li>
      <li>></li>
    </template>
  </ul>
  <div class="nodes">
    <button class="option" v-bind:class="selected == archive ? 'selected' : ''" v-for="(archive, i) in user.archives"
      v-on:click="onSelectPrev(archive)">📁 {{ archive.edges.node.edges.word.name }}</button>
  </div>
  <div class="input">
    <label>新建节点名：</label>
    <div>
      <autocomplet v-on:item="getWordName" v-on:select="onSelectWord" v-bind:source="user.words"
        v-bind:placeholder="i18n.AddAWord"></autocomplet>
    </div>
  </div>
  <hr>
  <div class="options">
    <button class="menu-button">确定</button>
  </div>
</div>