<div id="tag_layout">
  <div id="tag_input">
    <ul class="tags">
      <li class="tag" v-for="(tag, i) in values"
        v-bind:class="(i==values.length-1 && state==2) ? 'del' : ''"
        v-on:click="onRemoveTag(tag)">{{ tag }} X
      </li>
      <li class="new-tag">
        <input type="text" v-on:keyup="onTagChanged" v-on:keyup.enter="onAdd" v-on:keyup.188="onAdd"
          v-on:keyup.delete="onDel" v-on:keyup.up="onMoveUp" v-on:keyup.down="onMoveDown" v-model="input"
          placeholder="Add a tag"></input>
      </li>
    </ul>
  </div>
  <div id="tag_autocomplete" v-if="auto">
    <ul class="items">
      <li class="item" v-for="item in items">
        <div>{{ item }}</div>
      </li>
    </ul>
  </div>
</div>