<div>
  <main-nav mobile-hidden-menu hidden-search>
    <button class="btn text sm fill flex-v padding-x padding-y5 spacing-18" v-on:click="showPublish = true">发布</button>
  </main-nav>
  <div class="margin-t7 container bgc white flex-start" v-bind:class="{'scrolly-auto' : fullscreen}"
    ref="editorContainer">
    <page class="margin-auto w-draft padding-x9" v-bind:status="editingStatus">
      <div class="sticky padding-y9">
        <div class="layout-1 flex-v">
          <div class="flex-auto flex-v">
            <dropdown class="left">
              <button class="btn text flex-v padding-9">😃</button>
              <div class="menu" style="max-height: 60vh;">
                <div class="menu-flex" style="width: calc(var(--x96) * 2 + var(--x14) * 2);">
                  <button class="menu-item" v-for="i in 70" v-on:click="insertEmoji(emoji(0x1f600, i))"
                    v-html="emoji(0x1f600, i)"></button>
                </div>
              </div>
            </dropdown>
            <span>{{ content.length }}</span>
          </div>
          <button class="btn text padding-9" v-bind:class="fullscreen ? 'none' : 'flex-v'"
            v-on:click="showPreview = true">
            <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
              <circle cx="12" cy="12" r="3" />
            </svg></button>
          <button class="btn text padding-9" v-bind:class="fullscreen ? 'none' : 'flex-v'" v-on:click="onHistories">
            <svg version="1.1" width="18" height="18" viewBox="0 0 16 16" fill="currentColor">
              <path fill-rule="evenodd"
                d="M1.643 3.143L.427 1.927A.25.25 0 000 2.104V5.75c0 .138.112.25.25.25h3.646a.25.25 0 00.177-.427L2.715 4.215a6.5 6.5 0 11-1.18 4.458.75.75 0 10-1.493.154 8.001 8.001 0 101.6-5.684zM7.75 4a.75.75 0 01.75.75v2.992l2.028.812a.75.75 0 01-.557 1.392l-2.5-1A.75.75 0 017 8.25v-3.5A.75.75 0 017.75 4z" />
            </svg> </button>
          <button class="btn text flex-v padding-9" v-on:click="onFullscreen">
            <svg v-if="fullscreen" viewBox="-2 -2 24 24" width="18" height="18" fill="currentColor">
              <path
                d="M1 0h6a1 1 0 1 1 0 2H3.414L18 16.586V13a1 1 0 0 1 2 0v6a1 1 0 0 1-1 1h-6a1 1 0 0 1 0-2h3.586L2 3.414V7a1 1 0 1 1-2 0V1a1 1 0 0 1 1-1z" />
            </svg>
            <svg v-else viewBox="-2 -2 24 24" width="18" height="18" fill="currentColor">
              <path
                d="M19 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V3.414L11.414 10 18 16.586V13a1 1 0 0 1 2 0v6a1 1 0 0 1-1 1h-6a1 1 0 0 1 0-2h3.586L10 11.414 3.414 18H7a1 1 0 0 1 0 2H1a1 1 0 0 1-1-1v-6a1 1 0 0 1 2 0v3.586L8.586 10 2 3.414V7a1 1 0 1 1-2 0V1a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H3.414L10 8.586 16.586 2H13a1 1 0 0 1 0-2h6z" />
            </svg> </button>
        </div>
      </div>
      <div class="flex-start">
        <div role="textbox" contenteditable="true" placeholder="在这里书写你的文章" class="draft-area margin-y9"
          v-on:input="onChanged" v-on:blur="onBlur" ref="editor">
          <!-- <p v-if="content">{{ draft.edges.snapshots[0].body }}</p> -->
        </div>
        <textmap v-bind:content="content" v-bind:range="selectRange" v-bind:scroller="scroller"></textmap>
      </div>
    </page>
  </div>
  <overlay class="bgc white" v-if="showSnapshots">
    <div class="container flex">
      <div class="layout-history-snap">
        <div class="flex-v">
          <div class="flex-auto flex-v">
            <h2 class="flex-v btn" v-on:click="showSnapshots = false"><svg width="32" height="32" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="15 18 9 12 15 6" />
              </svg>
              <the-time full v-bind:datetime="snapshots[snapshotIndex].created_at" />
            </h2>
          </div>
          <button class="btn text" i v-on:click="onHistoryPrev"> <svg width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="18 15 12 9 6 15" />
            </svg> </button>
          <button class="btn text margin-r" v-on:click="onHistoryNext"> <svg width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="6 9 12 15 18 9" />
            </svg> </button>
          <dropdown>
            <button class="btn icon margin-r is-mobile"> <svg version="1.1" width="24" height="24" viewBox="0 0 16 16"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M1.643 3.143L.427 1.927A.25.25 0 000 2.104V5.75c0 .138.112.25.25.25h3.646a.25.25 0 00.177-.427L2.715 4.215a6.5 6.5 0 11-1.18 4.458.75.75 0 10-1.493.154 8.001 8.001 0 101.6-5.684zM7.75 4a.75.75 0 01.75.75v2.992l2.028.812a.75.75 0 01-.557 1.392l-2.5-1A.75.75 0 017 8.25v-3.5A.75.75 0 017.75 4z" />
              </svg> </button>
            <div class="menu">
              <template v-for="(snapshot, i) in snapshots">
                <button class="menu-item" v-bind:class="{'selected' : snapshotIndex == i}"
                  v-on:click="onDafteHistory(i)">
                  <the-time v-bind:datetime="snapshot.created_at" />
                </button>
              </template>
            </div>
          </dropdown>
        </div>
        <div></div>
        <div class="margin-x18">
          <div class="flex-h">
            <div class="padding-x24 padding-y9 shadow radius-3">
              查看版本差异 · <a v-on:click="todo">恢复此版本</a> · <a v-on:click="todo">删除</a>
            </div>
          </div>
          <div class="p wrap margin-t9" style="overflow-y: auto; max-height: calc(100vh - 140px);">
            <template v-for="(part, i) in diff">
              <span v-if="part.added" class="bgc-green-light c-green">{{ part.value }}</span>
              <del v-else-if="part.removed" class="bgc-red-light c-red">{{ part.value }}</del>
              <template v-else>{{ part.value }}</template>
            </template>
          </div>
        </div>
      </div>
      <div class="overlay">
        <div class="layout-history-list">
          <h2> {{ i18n.Histories }}</h2>
          <div>
            <template v-for="(snapshot, i) in snapshots">
              <button class="menu-item" v-bind:class="{'selected' : snapshotIndex == i}" v-on:click="onDafteHistory(i)">
                <the-time v-bind:datetime="snapshot.created_at" />
              </button>
            </template>
          </div>
        </div>
      </div>
    </div>
  </overlay>
  <overlay class="bgc white" v-if="showPreview">
    <div class="container">
      <div class="flex-v bgc white sticky">
        <div class="flex-auto flex-v">
          <h2 class="flex-v btn" v-on:click="showPreview = false"><svg width="32" height="32" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="15 18 9 12 15 6" />
            </svg>
            {{ i18n.Preview }}
          </h2>
        </div>
        <button class="margin-x9 btn text fill padding-x24 padding-y9" v-on:click="showPublish = true">发布</button>
      </div>
      <article class="markdown margin-x9" v-html="preview"></article>
    </div>
  </overlay>
  <overlay class="bgc white" v-if="showPublish">
    <div class="container">
      <div class="flex-v">
        <div class="flex-auto flex-v">
          <h2 class="flex-v btn" v-on:click="showPublish = false"><svg width="32" height="32" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="15 18 9 12 15 6" />
            </svg>
            {{ i18n.Publish }}
          </h2>
        </div>
      </div>
      <div class="flex-h flex-wrap">
        <div class="margin-x9" style="width: 480px;">
          <input type="text" name="title" class="input-3 font-lg font-bold" v-model="version.title"
            v-bind:placeholder="i18n.Title"></input>
          <input contenteditable="true" type="text" name="gist" class="input-3" v-model="version.gist"
            v-bind:placeholder="i18n.Gist"></input>
          <select id="userLangSelect" name="lang" class="input-3" v-model="version.lang">
            <option v-for="(lang, i) in languages" v-bind:dir="lang.direction" v-bind:value="lang.code">{{ lang.name }}
            </option>
          </select>
        </div>
        <div class="margin-x9" style="width: 480px;">
          <words-input class="input-3" v-bind:keywords="version.keywords" v-bind:words="user.words" />
          <input type="text" name="versionName" class="input-3" v-model="version.name"
            v-bind:placeholder="i18n.VersionName"></input>
          <input type="text" name="comment" class="input-3" v-model="version.comment"
            v-bind:placeholder="i18n.Comment"></input>
          <div class="layout-3 flex">
            <div class="flex-1"></div>
            <button class="btn text" v-on:click="onPublish">{{ i18n.Publish }}<span v-if="status=='private'">
                🔒</span></button>
          </div>
        </div>
      </div>
    </div>
  </overlay>
</div>