<div>
  <main-nav></main-nav>
  <div class="container padding-9 flex-start">
    <div class="w-90p is-720"></div>
    <page class="flex-1" v-bind:status="pageStatus">
      <div class="layout-1 flex margin-t18b9">
        <div class="flex-1">
          <dropdown class="left">
            <button class="btn text flex-v padding-9">💡 {{ i18n.Archive }}</button>
            <div class="menu">
              <template v-if="nodes">
                <div v-for="(node, i) in nodes" class="menu-item" v-on:click="onSelectNode(node)">
                  📁 {{ node.edges.word.name }}
                  <button class="btn icon padding-3" v-on:click.stop="todo" title="你已收藏" v-if="node.star">⭐</button>
                  <button class="btn icon padding-3" v-on:click.stop="todo" title="你已关注" v-if="node.watch">👀</button>
                  <button class="btn icon padding-3" v-on:click.stop="gotoNodeArticles(node)" title="已有人归档"
                    v-if="node.pub">📌</button>
                  <button class="btn icon padding-3" v-on:click.stop="todo" title="你已归档" v-if="node.archive">💡</button>
                  <button class="btn icon padding-3" v-on:click.stop="todo" title="你的私有节点"
                    v-if="node.private">🔒</button>
                </div>
              </template>
              <div v-on:click.stop="" class="menu-tip" v-else>无节点 😃</div>
              <template v-if="user.logined">
                <hr>
                <button class="menu-item" v-on:click="onNewNode">新建一个节点并归档</button>
                <button class="menu-item" v-on:click="todo">关注更多节点</button>
              </template>
            </div>
          </dropdown>
        </div>
        <template v-if="article.private">
          <span class="text flex-v padding-9">🔒</span>
        </template>
        <div class="flex padding-x9" v-else>
          <button class="btn text flex-v padding-y9" v-on:click="onStar">⭐ <span class="gt-360">
              {{ article.star ? i18n.Unstar : i18n.Star }}</span></button>
          <button class="btn text flex-v padding-y9" v-on:click="onWatch">👀 <span class="gt-360">
              {{ article.watch ? i18n.Unwatch : i18n.Watch }}</span></button>
          <button class="btn text flex-v padding-y9" v-on:click="switchLang">🌍 <span class="gt-360">
              {{ article.lang.name }}</span></button>
        </div>
      </div>
      <!-- <div class="tabs">
        <a class="selected" href="#">{{ i18n.Body }}</a>
        <a href="#">{{ i18n.Issues }}</a>
        <a href="#">{{ i18n.Notes }}</a>
      </div> -->
      <article class="markdown" v-html="md2html(article.body)" ref="reader"></article>
      <div class="flex-wrap" v-if="article.keywords">
        <word v-for="(keyword, i) in article.keywords" v-bind:key="keyword.id" v-bind:word="keyword"></word>
      </div>
      <div class="layout-3 flex">
        <div class="flex-1">
          <the-time class="text sm flex-v padding-0" v-bind:datetime="article.created_at" />
        </div>
        <dropdown>
          <button class="btn text flex-v lg">😃</button>
          <div class="menu">
            <div class="menu-subheader" v-on:click.stop="">{{ i18n.PickYourReaction }}</div>
            <div class="menu-flex" style="width: calc(var(--x96) * 2 + var(--x24));">
              <button class="menu-item" v-for="(reac, i) in reactions" v-on:click="onPickReaction(reac.value)"
                v-bind:title="i18n[reac.name]">{{ reac.emoji}}</button>
            </div>
          </div>
        </dropdown>
        <dropdown>
          <button class="btn text lg flex-v">
            <span class="ic-more"></span>
          </button>
          <div class="menu">
            <button class="menu-item" v-on:click="todo">{{ i18n.Histories }}</button>
            <button class="menu-item" v-on:click="todo">{{ i18n.Translate }}</button>
            <button class="menu-item" v-on:click="onEditArticle">{{ i18n.Edit }}</button>
          </div>
        </dropdown>
      </div>
      <div class="layout-1 flex padding-9 margin-y9" v-if="article.reactions.length">
        <button class="btn text flex-v" v-for="(reac, i) in article.reactions"
          v-on:click="onPickReaction(reac.status)">{{
          emoji[reac.status]}} {{ reac.count }}</button>
      </div>
      <div></div>
    </page>
    <div class="w-90p is-720"></div>
  </div>
  <modal v-model="isNewNode">
    <new-node v-on:successed="newNodeSuccessed" v-on:failured="newNodeFailured" v-bind:article="article"></new-node>
  </modal>
  <div class="abs bgc white padding-6-9 shadow radius-30 flex-v"
    v-bind:style="'left: ' + selection.left + 'px; top: ' + selection.top + 'px'" v-if="isNewQuote && selection">
    <div class="margin-x5 btn" v-on:click="onAddQuote">
      <span class="ic-feather"></span>
    </div>
    <div class="margin-x9">|</div>
    <div class="margin-x5 btn" v-on:click="onAddQuote">
      <div class="radius-30 bgc-success wh-x18"></div>
    </div>
    <div class="margin-x5 btn" v-on:click="onAddQuote">
      <div class="radius-30 bgc-info wh-x18"></div>
    </div>
    <div class="margin-x5 btn" v-on:click="onAddQuote">
      <div class="radius-30 bgc-error wh-x18"></div>
    </div>
    <div class="margin-x5 btn" v-on:click="onAddQuote">
      <div class="radius-30 bgc-warn wh-x18"></div>
    </div>
    <div class="margin-x5 btn" v-on:click="onAddQuote">
      <div class="radius-30 bgc-danger wh-x18"></div>
    </div>
  </div>
  <modal v-model="isAddResponse">
    <div class="margin-9">
      <h4>回复</h4>
      <input class="w-100 padding-6-9 font-md box-border border-none outline-none" autofocus placeholder="请输入你的回复">
    </div>
  </modal>
  <modal v-model="isSelectNode">
    <template v-if="selectNode">
      <div class="margin-24">
        <h4>是否将此文章归档到</h4>
        <h2>{{ selectNode.edges.word.name }}</h2>
        <div class="font-sm">此动作会使你：
          <ul>
            <li>收藏此文章</li>
            <li>收藏此节点</li>
          </ul>
        </div>
        <div class="flex">
          <span class="flex-1"></span>
          <button class="btn text padding-6-30" v-on:click="isSelectNode = false">否</button>
          <button class="btn text fill padding-6-30" v-on:click="onPutNodeArticle">是</button>
        </div>
      </div>
    </template>
  </modal>
</div>