<div>
  <main-nav></main-nav>
  <div class="container padding-x9">
    <h2>{{ i18n.Drafts }}</h2>
    <page v-bind:status="pageStatus" custom404>
      <div class="loading-container" v-if="pageStatus == 404">
        <span style="font-size: 2em; margin: 30px 0;">📝</span>
        <h3>There are not any drafts.</h3>
      </div>
      <template v-else>
        <article class="list-1" v-for="(draft, i) in drafts">
          <router-link class="list-1-link" :to="{ name: 'editDraft', params: { id: draft.id }}">
            <div class="list-1-text" v-if="draft.body">{{ draft.body }}</div>
            <div class="list-1-text c-deep" v-else>空白文档</div>
          </router-link>
          <the-time class="text sm flex-v padding-0" v-bind:datetime="draft.created_at" />
          </the-time>
        </article>
      </template>
    </page>
  </div>
</div>