<page class="margin-x9" v-bind:status="pageStatus" custom404>
  <div v-if="articles.length == 0" style="text-align: center; margin-top: 120px;">
    <div>
      <span style="font-size: 2em; margin: 30px 0;">{{ icons[status] }}</span>
      <h3>There are not any {{status}} articles.</h3>
    </div>
  </div>
  <div v-else class="list-1" v-for="(article, i) in articles">
    <router-link class="list-1-link" :to="{ name: 'article', params: { id: article.id, code: article.code }}">
      <div>
        <div class="list-1-title" v-if="article.title">{{ article.title }}</div>
        <div class="list-1-text">{{ article.gist }}</div>
      </div>
    </router-link>
    <div class="flex">
      <the-time class="flex-1 flex-v text sm padding-0" v-bind:datetime="article.created_at" />
    </div>
  </div>
</page>