<div>
  <main-nav></main-nav>
  <div class="container padding-x9">
    <div class="flex-v">
      <h2 class="flex-auto">管理你的终端</h2>
      <button class="btn text fill padding-x padding-y9" v-on:click="showAuthorize = true">添加一个终端</button>
    </div>
    <page v-bind:status="pageStatus">
      <div class="margin-y flex-v flex-wrap" v-for="(terminal, i) in terminals">
        <div class="flex-auto spacing-18 flex-v">
          <span class="terminal-icon" v-bind:class="dt('ic-', terminal)">
            <span class="wh-x36 flex-c bgc white" v-bind:class="dt('margin-', terminal)">
              <span class="wh-x30" v-bind:class="os('ic-', terminal, '-original')"></span>
            </span>
          </span>
          <div class="spacing-18">
            <h3 class="margin-0">{{ terminal.nickname }}</h3>
            <div class="margin-y9"><span>Add in</span> {{ terminal.name }} <span>on</span> {{ terminal.device}}</div>
            <div class="flex-v">
              <a class="btn flex-v spacing-18" v-on:click="todo">查看详细信息</a>
              <button class="margin-x9 btn text fill c-red" v-on:click="todo">删除</button>
            </div>
          </div>
        </div>
        <div class="flex-c spacing-18 padding-x9">
          <span class="ic-location-pin" v-bind:class="terminal.addr ? 'ic-c-success' : 'ic-c-error'"></span>
          <template v-if="terminal.addr">
            <span class="margin-x3">{{ terminal.addr }}</span>
          </template>
          <template v-else>
            <span class="margin-x3">Unknown</span>
          </template>
        </div>
      </div>
    </page>
  </div>
  <modal clazz="bgc white" v-model="showAuthorize">
    <div class="margin-y24">
      <h3 class="flex-h">向终端授权</h3>
      <auth-qrcode v-on:result="onAuthResult"></auth-qrcode>
      <span class="margin-9 flex-h text sm">扫描此二维码，添加终端到此账号</span>
    </div>
  </modal>
  <modal v-model="showConfirm" v-on:toggle="onToggleModal">
    <div class="padding-24">
      <h3 class="flex-h">{{ receiverName }} 请求授权</h3>
      <span class="flex-h">确认对话框将于 {{ confirmChallengeExpire }} 秒关闭</span>
      <div class="flex-h margin-9">
        <button class="btn text fill padding-x padding-y9" v-on:click="onConfirmAuthn">确认授权</button>
      </div>
      <div class="flex-h margin-9">
        <button class="btn text fill padding-x padding-y9" v-on:click="onTemporaryAuthn"
          title="有效时长最多 6 小时，退出应用失效">临时授权</button>
      </div>
      <div class="flex-h margin-9">
        <button class="btn text sm" v-on:click="onCancelAuthn">取消授权</button>
      </div>
    </div>
  </modal>
</div>