<div>
  <main-nav></main-nav>
  <div class="container padding-x9">
    <h2 v-if="node.edges.word">
      <span v-for="p in node.edges.path">{{ p.edges.word.name }} ＞</span>
      <span>{{ node.edges.word.name }}</span>
    </h2>
    <h2 v-else>所有根节点</h2>
    <div class="flex-wrap" v-if="node">
      <template v-for="(next, i) in node.edges.nexts">
        <div v-bind:key="next.id" class="flex-v padding-9">
          <router-link v-bind:to="{ name: 'node', params: { id: next.id, name: next.edges.word.name }}"
            class="btn text">📁 {{next.edges.word.name}}</router-link>
          <router-link v-bind:to="{ name: 'nodes', params: { id: next.id, name: next.edges.word.name }}"
            class="ic-chevron-right wh-x18" v-if="next.edges.nexts"></router-link>
        </div>
      </template>
    </div>
  </div>
  <!-- 请勿使用此类关键字，因其属于“无法被证实，或没有标准，或无法观测”的对象。 -->
</div>