<div class="container">
  <div v-if="article">
    <article class="article-content" v-html="article.body"></article>
    <div class="bar">
      <div>
        <button class="emoji-button">😃</button>
      </div>
      <button class="menu-button" v-on:click="onEditArticle">{{ i18n.Edit }}</button>
    </div>
    <div class="flex v">
      <the-time v-bind:datetime="article.created_at" />
      <code class="m-2-4 p-2-4" v-for="(keyword, i) in article.keywords">{{keyword.name}}</code>
    </div>
  </div>
  <div v-else>Loading</div>
</div>