<div>
  <main-nav></main-nav>
  <div class="container flex-start">
    <div class="layout-side-left">
      <h2>草稿箱</h2>
    </div>
    <div class="layout-main flex-1">
      <div class="layout-1 flex margin-t18b9">
        <button class="btn text padding-9">预览</button>
      </div>
      <textarea autofocus class="draft-area" placeholder="在这里书写你的文章" v-on:keyup="onChanged" v-on:blur="onBlur"
        v-model="content"></textarea>
      <div class="layout-3 flex">
        <div class="flex-1"></div>
        <button class="btn text" v-on:click="onPublish">预览并发布<span v-if="status=='private'">
            🔒</span></button>
        <dropdown>
          <button class="btn text lg margin-x9"><svg version="1.1" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M16,12C16,10.9 16.9,10 18,10C19.1,10 20,10.9 20,12C20,13.1 19.1,14 18,14C16.9,14 16,13.1 16,12M10,12C10,10.9 10.9,10 12,10C13.1,10 14,10.9 14,12C14,13.1 13.1,14 12,14C10.9,14 10,13.1 10,12M4,12C4,10.9 4.9,10 6,10C7.1,10 8,10.9 8,12C8,13.1 7.1,14 6,14C4.9,14 4,13.1 4,12Z" />
            </svg></button>
          <div class="menu">
            <button class="menu-item" v-on:click="onHistories">{{ i18n.Histories }}</button>
          </div>
        </dropdown>
      </div>
      <div class="layout-1 flex">
        <button class="btn text sm">预览</button>
      </div>
    </div>
    <div class="layout-side-right">
      <h2>说明</h2>
    </div>
  </div>
  <overlay class="bgc white" v-if="showSnapshots">
    <div class="container flex">
      <div class="layout-history-snap">
        <div class="flex-v">
          <div class="flex-auto flex-v">
            <h2 class="flex-v btn" v-on:click="showSnapshots = false"><svg width="32" height="32" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="15 18 9 12 15 6" />
              </svg>
              <the-time full v-bind:datetime="snapshots[snapshotIndex].created_at" />
            </h2>
          </div>
          <button class="btn text" i v-on:click="onHistoryPrev"> <svg width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="18 15 12 9 6 15" />
            </svg> </button>
          <button class="btn text margin-r" v-on:click="onHistoryNext"> <svg width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="6 9 12 15 18 9" />
            </svg> </button>
          <dropdown>
            <button class="btn icon margin-r is-mobile"> <svg version="1.1" width="24" height="24" viewBox="0 0 16 16"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M1.643 3.143L.427 1.927A.25.25 0 000 2.104V5.75c0 .138.112.25.25.25h3.646a.25.25 0 00.177-.427L2.715 4.215a6.5 6.5 0 11-1.18 4.458.75.75 0 10-1.493.154 8.001 8.001 0 101.6-5.684zM7.75 4a.75.75 0 01.75.75v2.992l2.028.812a.75.75 0 01-.557 1.392l-2.5-1A.75.75 0 017 8.25v-3.5A.75.75 0 017.75 4z" />
              </svg> </button>
            <div class="menu">
              <template v-for="(snapshot, i) in snapshots">
                <button class="menu-item" v-bind:class="{'selected' : snapshotIndex == i}"
                  v-on:click="onDafteHistory(i)">
                  <the-time v-bind:datetime="snapshot.created_at" />
                </button>
              </template>
            </div>
          </dropdown>
        </div>
        <div></div>
        <div class="margin-x18">
          <div class="flex-h">
            <div class="padding-x24 padding-y9 shadow radius-3">
              查看版本差异 · <a href="#">恢复此版本</a> · <a href="#">删除</a>
            </div>
          </div>
          <div class="p wrap" style="overflow-y: auto; max-height: calc(100vh - 140px);">
            <template v-for="(part, i) in diff">
              <span v-if="part.added" class="bgc-green-light c-green">{{ part.value }}</span>
              <del v-else-if="part.removed" class="bgc-red-light c-red">{{ part.value }}</del>
              <template v-else>{{ part.value }}</template>
            </template>
          </div>
        </div>
      </div>
      <div class="overlay">
        <div class="layout-history-list">
          <h2> {{ i18n.Histories }}</h2>
          <div>
            <template v-for="(snapshot, i) in snapshots">
              <button class="menu-item" v-bind:class="{'selected' : snapshotIndex == i}" v-on:click="onDafteHistory(i)">
                <the-time v-bind:datetime="snapshot.created_at" />
              </button>
            </template>
          </div>
        </div>
      </div>
    </div>
  </overlay>
  <overlay class="bgc white" v-if="showPreview">
    <div class="container">
      <div class="flex-v">
        <div class="flex-auto flex-v">
          <h2 class="flex-v btn" v-on:click="showPreview = false"><svg width="32" height="32" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="15 18 9 12 15 6" />
            </svg>
            {{ i18n.Preview }}
          </h2>
        </div>
        <button class="margin-x9 btn text fill padding-x24 padding-y9" v-on:click="showPublish = true">发布</button>
      </div>
      <article class="markdown margin-x9" v-html="preview"></article>
    </div>
  </overlay>
  <overlay class="bgc white" v-if="showPublish">
    <div class="container">
      <div class="flex-v">
        <div class="flex-auto flex-v">
          <h2 class="flex-v btn" v-on:click="showPublish = false"><svg width="32" height="32" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="15 18 9 12 15 6" />
            </svg>
            {{ i18n.Publish }}
          </h2>
        </div>
      </div>
      <div class="flex-h flex-wrap">
        <div class="margin-x9" style="width: 480px;">
          <input type="text" name="title" class="input-3 font-lg font-bold" v-model="version.title"
            v-bind:placeholder="i18n.Title"></input>
          <input contenteditable="true" type="text" name="gist" class="input-3" v-model="version.gist"
            v-bind:placeholder="i18n.Gist"></input>
          <select id="userLangSelect" name="lang" class="input-3" v-model="version.lang">
            <option v-for="(lang, i) in languages" v-bind:dir="lang.direction" v-bind:value="lang.code">{{ lang.name }}
            </option>
          </select>
        </div>
        <div class="margin-x9" style="width: 480px;">
          <words-input class="input-3" v-bind:keywords="version.keywords" v-bind:words="user.words" />
          <input type="text" name="versionName" class="input-3" v-model="version.name"
            v-bind:placeholder="i18n.VersionName"></input>
          <input type="text" name="comment" class="input-3" v-model="version.comment"
            v-bind:placeholder="i18n.Comment"></input>
          <div class="layout-3 flex">
            <div class="flex-1"></div>
            <button class="btn text" v-on:click="onPublish">{{ i18n.Publish }}<span v-if="status=='private'">
                🔒</span></button>
          </div>
        </div>
      </div>
    </div>
  </overlay>
</div>