<div class="container zero">
  <div v-if="article">
    <div class="article-nodes">
      <div>
        <dropdown class="left" v-bind:ignore="'true'" v-if="article.nodes.length">
          <button class="menu-button">{{ article.nodes[0].edges.word.name }}</button>
          <div class="menu">
            <div class="menu-item" v-for="(node, i) in article.nodes">{{ node.edges.word.name }}</div>
          </div>
        </dropdown>
        <dropdown class="left" v-else>
          <button class="menu-button">💡 {{ i18n.Archive }}</button>
          <div class="menu" v-if="user.logined">
            <div v-if="user.archives.length">
              <button class="menu-item" v-for="(archive, i) in user.archives">📁 {{ archive.edges.node.edges.word.name
                }}</button>
              <hr>
            </div>
            <div class="menu-tip" v-else>无节点 😃</div>
            <button class="menu-item" v-on:click="onNewNode">新建一个节点并关注</button>
            <button class="menu-item">关注更多节点</button>
          </div>
          <div class="menu" v-else>
            <router-link class="menu-item-a" to="/login">{{ i18n.PleaseLoginFirst }}</router-link>
          </div>
        </dropdown>
      </div>
      <template v-if="article.private">
        <button class="menu-button">🔒</button>
      </template>
      <template v-else>
        <button class="menu-button" v-on:click="onStar">⭐ {{ article.star ? i18n.Unstar : i18n.Star }}</button>
        <button class="menu-button" v-on:click="onWatch">👀 {{ article.watch ? i18n.Unwatch : i18n.Watch }}</button>
        <button class="menu-button" v-on:click="switchLang">🌍 {{ article.lang.name }}</button>
      </template>
    </div>
    <div class="article-nav">
      <a class="selected" href="#">{{ i18n.Body }}</a>
      <a href="#">{{ i18n.Issues }}</a>
      <a href="#">{{ i18n.Notes }}</a>
    </div>
    <article class="article-content" v-html="article.body"></article>
    <div v-if="article.keywords">
      <a href="#" class="label" v-for="(keyword, i) in article.keywords">#{{keyword.name}}</a>
    </div>
    <div class="bar">
      <div>
        <the-time v-bind:datetime="article.created_at" />
      </div>
      <dropdown>
        <button class="emoji-button">😃</button>
        <div class="menu">
          <div class="menu-subheader">{{ i18n.PickYourReaction }}</div>
          <div class="menu-flex" style="width: 214px;">
            <button class="menu-item" v-for="(reac, i) in reactions" v-on:click="onPickReaction(reac.value)"
              v-bind:title="i18n[reac.name]">{{ reac.emoji}}</button>
          </div>
          <!-- <div class="menu-line">
            <button class="reaction-button" v-for="(reac, i) in reactions.slice(5, 8)"
              v-on:click="onPickReaction(reac.value)" v-bind:title="i18n[reac.name]">{{ reac.emoji}}</button>
          </div> -->
        </div>
      </dropdown>
      <dropdown>
        <button class="emoji-button">
          <svg version="1.1" width="24" height="24" viewBox="0 0 24 24">
            <path
              d="M16,12C16,10.9 16.9,10 18,10C19.1,10 20,10.9 20,12C20,13.1 19.1,14 18,14C16.9,14 16,13.1 16,12M10,12C10,10.9 10.9,10 12,10C13.1,10 14,10.9 14,12C14,13.1 13.1,14 12,14C10.9,14 10,13.1 10,12M4,12C4,10.9 4.9,10 6,10C7.1,10 8,10.9 8,12C8,13.1 7.1,14 6,14C4.9,14 4,13.1 4,12Z" />
          </svg>
        </button>
        <div class="menu">
          <button class="menu-item">{{ i18n.Histories }}</button>
          <button class="menu-item">{{ i18n.Translate }}</button>
          <button class="menu-item" v-on:click="onEditArticle">{{ i18n.Edit }}</button>
        </div>
      </dropdown>
    </div>
    <div class="article-reactions" v-if="article.reactions.length">
      <button class="reaction-button" v-for="(reac, i) in article.reactions" v-on:click="onPickReaction(reac.status)">{{
        emoji[reac.status]}} {{ reac.count }}</button>
    </div>
  </div>
  <div class="loading-container" v-else>
    <div class="loading"></div>
  </div>
  <modal v-model="isNewNode">
    <new-node v-on:successed="isNewNode = false" v-on:failured="isNewNode = false"></new-node>
  </modal>
</div>