{{define "fgm_html_header"}}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="github_client_id" content="{{.GithubClientID}}" />
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ThreeTenth/css-theme@v0.1.2/colours.css" /> -->
{{ if .Debug }}
<link rel="stylesheet" href="{{.StaticDomain}}/__main.css" />
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuesax@4.0.1-alpha.25/dist/vuesax.css"> -->
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
{{ else }}
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/combine/npm/vuesax@4.0.1-alpha.25/dist/vuesax.min.css,gh/ThreeTenth/KnowlGraph@{{ .VersionName }}/build/__main.min.css">
{{ end }}
{{ end }}