{{define "fgm_html_footer"}}
{{ if .Debug }}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sprintf-js@1.1.2/dist/sprintf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/combine/npm/showdown@1.5.0"></script>
<script src="https://cdn.jsdelivr.net/gh/excing/showdown-extensions@v1.2.2/showdown-full-extensions.js"></script>
<script src="{{.StaticDomain}}/__default_theme.js"></script>
<script src="{{.StaticDomain}}/__app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuesax@4.0.1-alpha.25/dist/vuesax.js"></script>
{{ else }}
<script src="https://cdn.jsdelivr.net/combine/npm/vue,npm/vue-router,npm/axios/dist/axios.min.js,npm/js-cookie/dist/js.cookie.min.js,npm/sprintf-js@1.1.2/dist/sprintf.min.js,npm/showdown@1.5.0,gh/excing/showdown-extensions@v1.2.2/showdown-full-extensions.min.js,npm/vuesax@4.0.1-alpha.25"></script>
<script src="https://cdn.jsdelivr.net/combine/gh/ThreeTenth/KnowlGraph@{{ .VersionName }}/build/__default_theme.min.js,gh/ThreeTenth/KnowlGraph@{{ .VersionName }}/build/__app.min.js"></script>
<script src="https://cdn.jsdelivr.net/combine/npm/vuesax@4.0.1-alpha.25"></script>
{{end}}
{{end}}