<!doctype html>
<html lang="{{ .Header.UserLang }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes, minimal-ui">
	<meta name="github_client_id" content="{{.Header.GithubClientID}}" />
	<meta name="mobile-web-app-capable" content="yes">
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ThreeTenth/css-theme@v0.1.2/colours.css" /> -->
	<link rel="stylesheet" href="{{.Header.StaticDomain}}/__main.css" />
	{{ if .Header.Debug }}
	<!-- <link rel="stylesheet" href="{{.Header.StaticDomain}}/__main.css" /> -->
	{{ else }}
	<!-- <link rel="stylesheet"
		href="https://cdn.jsdelivr.net/combine/gh/ThreeTenth/KnowlGraph@{{ .Header.VersionName }}/build/__main.min.css"> -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-411GKFXS6N"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'G-411GKFXS6N');
	</script>
	{{ end }}

	{{ if .Body.Article }}
	<title>{{ .Body.Article.Title}} - KnowlGraph</title>
	<meta name="title" content="{{ .Body.Article.Title}}">
	<meta name="description" content="{{ .Body.Article.Gist}}">
	<!-- <meta name="keywords" content=""> -->
	<meta property="article:published_time" content="{{ .Body.Article.CreatedAt}}">
	<!-- <meta property="og:url" content="" /> -->
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ .Body.Article.Title}}" />
	<meta property="og:description" content="{{ .Body.Article.Gist}}" />
	<!-- <meta property="og:image" content="" /> -->
	<!-- Twitter describe metadata -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@KnowlGraph" />
	<meta name="twitter:title" content="{{ .Body.Article.Title}}" />
	<meta name="twitter:description" content="{{ .Body.Article.Gist}}">
	<!-- <meta name="twitter:image" content="" /> -->
	<!-- <meta name="twitter:label1" content="Reading time"> -->
	<!-- <meta name="twitter:data1" content="1 min read"> -->
	{{ else }}
	<title>Knowledge Graph -- KnowlGraph</title>
	<meta name="title" content="Knowledge Graph -- KnowlGraph">
	<meta name="description" content="KnowlGraph is Knowledge Graph.">
	{{ end }}

</head>

<body>
	<div id="app">
		<router-view>
			{{ if .Body.Article }}
			<div class="container p wrap padding-9">{{ .Body.Article.Edges.Content.Body }}</div>
			{{ end }}
		</router-view>
	</div>

	{{ if .Body.Logined }}
	<script>var logined = true</script>
	{{ else }}
	<script>var logined = false</script>
	{{ end }}
	<script>
		const VersionName = '{{ .Header.VersionName }}';
		const restfulDomain = '{{ .Header.RestfulDomain }}';
		const staticDomain = '{{ .Header.StaticDomain }}';
	</script>
	{{ if .Header.Debug }}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sprintf-js@1.1.2/dist/sprintf.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
	<script src="https://cdn.jsdelivr.net/combine/npm/showdown@1.9.0"></script>
	<script src="https://cdn.jsdelivr.net/gh/excing/showdown-extensions@v1.2.2/showdown-full-extensions.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/qrcode_js@1.0.0/qrcode.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/diff@5.0.0/dist/diff.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/ua-parser-js@0.7.28/src/ua-parser.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.js"></script>
	{{ else }}
	<script
		src="https://cdn.jsdelivr.net/combine/npm/vue,npm/vue-router,npm/axios/dist/axios.min.js,npm/js-cookie@rc/dist/js.cookie.min.js,npm/sprintf-js@1.1.2/dist/sprintf.min.js,npm/showdown@1.9.0,gh/excing/showdown-extensions@v1.2.2/showdown-full-extensions.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/qrcode_js@1.0.0/qrcode.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/diff@5.0.0/dist/diff.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/ua-parser-js@0.7.28/src/ua-parser.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
	{{end}}
	<script src="https://cdn.jsdelivr.net/npm/@zxing/library@latest/umd/index.min.js"></script>
	<script src="{{.Header.StaticDomain}}/__default_theme.js"></script>
	<script src="{{.Header.StaticDomain}}/__app.js"></script>
</body>

</html>