<!doctype html>
<html lang="{{ .Header.UserLang }}">

<head>
	{{ template "fgm_html_header" .Header }}

	{{ if .Body.Article }}
	<title>{{ .Body.Article.Title}} - KnowlGraph</title>
	<meta data-rh="true" name="title" content="{{ .Body.Article.Title}} - KnowlGraph">
	<meta data-rh="true" property="og:title" content="{{ .Body.Article.Title}}">
	<meta data-rh="true" property="og:description" content="{{ .Body.Article.Gist}}">
	<meta data-rh="true" property="twitter:description" content="{{ .Body.Article.Gist}}">
	{{ end }}

	{{ if .Body.Logined }}
	<title>Knowledge Graph -- {{ .Body.User.Name }} </title>
	<link rel="icon" type="image/png" href="{{ .Body.User.Avatar }}">
	{{ else }}
	<title>Knowledge Graph -- KnowlGraph</title>
	<link rel="apple-touch-icon" sizes="180x180" href="{{.Header.StaticDomain}}/static/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{.Header.StaticDomain}}/static/favicon/favicon-32x32.png">
	{{ end }}
</head>

<body>
	<div id="app">
		{{ if .Body.Article }}
		<div id="article_md">{{ .Body.Article.Edges.Content.Body }}</div>
		{{ end }}
	</div>

	{{ if .Body.Logined }}
	<script>var logined = true</script>
	{{ else }}
	<script>var logined = false</script>
	{{ end }}
	{{ template "fgm_html_footer" .Header }}
</body>

</html>