<!doctype html>
<html lang="zh-CN">

{{ template "fgm_html_header" .Header }}

<body>
  <div style="display: flex; margin: 6px 0 10px 0;">
    <div style="flex: auto">
      <a href="/"><button>{{ .Strings.Home }}</button></a>
    </div>
    <div>
      {{ .Body.User.Name }}
      <button onclick="onSignout()">{{ .Strings.Logout }}</button>
      <select id="userLangSelect" name="lang" v-bind:value="lang" onchange="onSelectUserLang()">
        {{ range .Body.Languages }}
        <option class="{{ .Direction }}" value="{{ .Code }}">{{ .Name }}</option>
        {{ end }}
      </select>
    </div>
  </div>
  {{ template "fgm_new_article" . }}
  {{ template "fgm_publish_article" . }}
  {{ template "fgm_user_drafts" . }}
  {{ template "fgm_user_articles" . }}

  {{ template "fgm_html_footer" }}
</body>

</html>